/* Grid ---------------------------------- */

.Grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Grid-item {
    flex: 1 0 10rem;
    margin: 1rem;
    font-size: 3.2em;
    line-height: 2em;
    border-radius: 0.5em;
    text-align: center;
    color: hsl(0, 100%, 100%);
    background-color: hsla(0, 0%, 0%, 0.1);
}