/* Grid ---------------------------------- */

.Grid {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Grid-item {
    font-size: 3.2em;
    line-height: 2em;
    background-color: hsla(0, 0%, 0%, 0.1);
    color: #fff;
    text-align: center;
    margin: 1rem;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
}