/* Grid ---------------------------------- */

.Grid {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Grid-item {
    -webkit-flex: 1 0 6rem;
    flex: 1 0 6rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 1rem;
    font-size: 3.2em;
    line-height: 2em;
    border-radius: 0.5em;
    text-align: center;
    color: hsl(0, 100%, 100%);
    background-color: hsla(0, 0%, 0%, 0.1);
}


@media (min-width: 800px) {

    .Grid-item {
        -webkit-flex: 1 0 12rem;
        flex: 1 0 12rem;
    }

}