.App {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    transition: opacity .6s;
}

.montage-app-loaded .App {
    opacity: 1;
}


/* Bar ---------------------------------- */

.Bar {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.Bar--header {

}

.Bar--footer {

}

.Bar > * {
    margin: 0.4rem;
}


/* Bar children ---------------------------------- */

.Bar > .Badge {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.4;
    font-weight: 500;
    text-align: center;
    border-radius: 1.25em;
    border-width: 2px;
}

.Bar > .Title {
    -webkit-flex: 1;
    flex: 1;
    font-weight: normal;
    text-align: center;
}

.Bar > .Search {
    -webkit-flex: 1;
    flex: 1;
    font-family: inherit;
}

.Bar > .Toggle {
    vertical-align: middle;
}

.Bar > .Toggle.montage-ToggleSwitch--checked > .digit-ToggleSwitch-thumb {
    background-color: hsla(0, 0%, 0%, 0.72);
}


/* List ---------------------------------- */

.List {
    flex: 1;
}


/* Grid ---------------------------------- */

.Grid {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Grid-item {
    font-size: 3.2em;
    line-height: 2em;
    background-color: hsla(0, 0%, 0%, 0.1);
    color: #fff;
    text-align: center;
    margin: 1rem;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
}



/* Main ---------------------------------- */

.Main {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
}


/* View ---------------------------------- */

.View-item {
    display: flex;
}

.View-item--aside {
    color: hsla(0,0%,0%,.7);
    background-color: hsla(0,0%,100%,.7);
    flex-direction: column;
}

.View-item--aside > .Bar {
    background-color: hsla(0,0%,0%,.1);
}

@media (max-width: 799px) {
    
    .View {
        overflow: hidden;
    }
    
    .View-item {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }
    
    .View-item--main {
        transform: translate3d(100%,0,0);
    }
    
}
@media (min-width: 800px) {
    
    .View {
        display: flex;
    }
    
    .View-item {
        position: relative;
    }
    
    .View-item--main {
        flex: 1;
    }
    
    .View-item--aside {
        flex: 0 0 320px;
    }

}
