/* 
 * This file is reserved for your global style rules. 
 */

html {
    height: 100%;
    font-family: Avenir, sans-serif;
    color: hsl(212, 72%, 80%);
    fill: currentColor;
    background: currentColor;
    font-size: 16px; /* Spacing of components */
}

body {
    height: 100%;
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Sizing of components */
}


/* Loader -------------------------------------------- */

.Loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
}
.Loader-spinner {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: url(../images/digit-icon.svg) no-repeat center center;
    //background-size: 70% auto;
    -webkit-animation: Loader--rotate 3.6s linear infinite;
    animation: Loader--rotate 3.6s linear infinite;
}

@-webkit-keyframes Loader--rotate { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes Loader--rotate {         100% {         transform: rotate(-360deg); } }